
html {
  box-sizing: border-box;
}


body {
  background-color: #fff;
  font-family: serif, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  
}

.buttons {
  background-color: red;
  color: white;
  border: red;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons:hover{
  background-color: orangered;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgb(4, 5, 90);
  padding-top: 30px;
  margin-right: 100%;
}

nav a {
  display: inline-block;
  color: ghostwhite;
  text-decoration: none;
  font-family: sans-serif;
  padding: 20px;
}

nav a:hover {
  background-color:orangered;
  opacity: 2;

}

#logo {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  margin-right: 9%;
  margin-left: 7%;
  box-shadow: 2px 0px 2px rgba(23, 60, 141, 0.2);
}

#logo:hover {
  background-color: orange;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.shoes_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shoe {
  margin: 40px;
  width: calc(23.5% - 40px);
  height: 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #E9E5F7;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

#collection {
  
  */text-align: center;
  box-shadow: 5px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  color: tomato;
  margin: 1px;
  padding: px;
  border: 2px solid white;
}






.footer_container{
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  background-color: grey;

}

p{
 color: white
}
 a{
   color: white;
   text-decoration: none;
 }
 h4{
   color: white;
 }

   footer{
  background-color: rgb(3, 4, 63);
  text-align: center;
  justify-content:
  
   }
   .contact{
     text-align: right;
     
   }
   .payment>h4{
     background-color: rgb(230, 3, 3);
     font-family: verdana;
   }
   section>h3{
    box-shadow: 0px 4px 4px 0px rgba(23ground-color:rgb(41, 12, 146);
    color, 13, 114, 0.2);
    backr: white;
    border: 1px solid blue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}